@import 'reset.css';
@import './variables/global.css';
@import '../fonts/index.css';

body {
  font-family: var(--font-family);
  background-color: var(--black);
  color: var(--white);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}