.Header {
  width: 100%;
  padding: 54px 0 49px;
  border-bottom: 1px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking {
  display: flex;
  gap: 50px;
  align-items: center;
}

.headerNav {
  gap: 50px;
}

.headerLogo {
  width: 63px;
  height: 63px;
  color: var(--red);
}

.call {
  display: block;
  padding: 12px 10px;
  font-size: 12px;
  line-height: 1;
  border-radius: 10px;
  margin-right: 40px;
}

.rightSide {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .Header {
    position: sticky;
    top: 0;
    padding: 25px 30px;
    background-color: var(--black);
    z-index: 99;
  }

  .headerLogo {
    width: 31px;
    height: 31px;
  }

  .logoText {
    font-size: 14px;
    line-height: 1;
  }

  .logoFirstLexem {
    margin-left: 3px;
  }
}