.Header {
  width: 100%;
  max-width: 1720px;
  padding: 54px 0 49px;
  border-bottom: 1px solid var(--red);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking {
  display: flex;
  gap: 50px;
  align-items: center;
}

.headerNav {
  gap: 50px;
  margin-left: 200px;
}

.headerLogo {
  width: 63px;
  height: 63px;
  color: var(--red);
}