.carousel {
  width: 100%;
  --carousel-height: 642px;
  height: var(--carousel-height);
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 55% !important;
  height: var(--carousel-height) !important;
  border-radius: 25px;
  z-index: 0;
  object-fit: cover;
  object-position: center;
}

.wrapper {
  position: relative;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: var(--carousel-height);
}

.title,
.description {
  position: relative;
  z-index: 10;
}

.description {
  display: inline-block;
  margin-top: 50px;
  text-align: left;
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  padding: 50px;
  width: 37%;
  font-size: 24px;
}

.title {
  font-size: 100px;
  line-height: 1;
  text-transform: uppercase;
  font-style: italic;
  width: 65%;
  text-align: left;
}

:global(.carousel.carousel-slider),
:global(.slider-wrapper),
:global(.slider.animated) {
  height: 100%;
}

:global(.control-dots) {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

:global(.carousel .control-dots .dot) {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  opacity: 1;

  &:global(.selected) {
    background-color: var(--red);
  }
}

@media (max-width: 1700px) {
  .carousel {
    --carousel-height: 580px;
  }

  .title {
    font-size: 85px;
  }

  .wrapper {
    padding: 60px 0;
  }

  .description {
    margin-top: 40px;
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
  .carousel {
    --carousel-height: 500px;
  }

  .title {
    font-size: 65px;
  }

  .wrapper {
    padding: 50px 0;
  }

  .description {
    margin-top: 30px;
    font-size: 18px;
    width: 42%;
  }
}

@media (max-width: 1200px) {
  :global(.carousel .control-dots) {
    bottom: auto;
    top: 0;
    margin: 20px 0;
    padding: 0 20px;
  }

  .carousel {
    --carousel-height: auto;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    padding: 0 50px;
  }

  .image {
    width: 100% !important;
    height: 380px !important;
  }

  .title {
    width: 100%;
    margin-top: 360px;
    font-size: 55px;
  }

  .description {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 620px) {
  .image {
    width: 100% !important;
    height: 300px !important;
  }

  .title {
    font-size: 40px;
    margin-top: 285px;
  }
}