.Contacts {
  margin-top: 60px;
  width: 100%;
  background-color: var(--white-50);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
}

.heading {
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 62px;
}

.contactsIcon {
  color: var(--red);
}

.contactsWrapper {
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

.block {
  padding: 45px 75px;  
}

.mapWrapper {
  width: 1000px;
  flex-shrink: 0;
}

.contactsTelephonesList {
  list-style: none;
  display: flex;
  margin-bottom: 37px;
  flex-wrap: wrap;
}

.address {
  font-size: 30px;
}

.contactsTelephone {
  font-size: 30px;
}

.clock {
  width: 48px;
  height: 48px;
}

.redDot {
  margin: 0 18px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--red);
  border-radius: 50%;
  flex-shrink: 0;
}

.contactsTelephoneItem {
  display: flex;
  align-items: center;
}

.semibold {
  font-weight: 500;
  margin: 0;
}

.workingHours {
  display: flex;
  align-items: center;
  gap: 32px;
}

.contactsBlock {
  padding: 50px 0;
  border-bottom: 1px solid var(--white-100);

  &.scheme {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-template-rows: 48px 1fr 20px 48px;
    grid-template-areas:
      "busIcon buses"
      "dots buses"
      "dots ."
      "busStopIcon busStop";
  }
}

.dots {
  height: 70%;
  grid-area: dots;
  padding: 18px 0;
  background-image: url('../../shared/assets/dot.svg');
  background-position: center top;
  background-repeat: no-repeat space;
  place-self: center stretch;
}

.busIcon {
  grid-area: busIcon;
  width: 52px;
  height: 48px;
}

.buses {
  grid-area: buses;
  padding-left: 30px;
  padding-bottom: 40px;
}

.busStopIcon {
  grid-area: busStopIcon;
  margin-left: 4px;
}

.busStop {
  grid-area: busStop;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.transportText {
  display: flex;
  align-items: flex-end;
  margin: 0;
  font-size: 24px;
}

.transportName {
  margin: 0 10px 0 0;
}

.hours {
  display: flex;
  gap: 50px;
}

.noMargin {
  margin: 0;
}

.busStopIcon {
  width: 38px;
  height: 48px;
}

@media (max-width: 1200px) {
  .Contacts {
    margin-top: 40px;
    flex-direction: column;
  }

  .buttonBack {
    margin-left: 30px;
  }

  .block {
    padding: 10px 30px;
  }

  .heading {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .contactsBlock {
    padding: 25px 0;

    &.scheme {
      grid-template-columns: 26px 1fr;
      grid-template-rows: 24px 1fr 10px 24px;
      grid-template-areas:
        "busIcon buses"
        "dots buses"
        "dots ."
        "busStopIcon busStop";
    }
  }

  .contactsTelephone,
  .address {
    font-size: 18px;
    line-height: 1.2;
  }

  .workingHours {
    font-size: 14px;
    gap: 15px;
  }

  .clock {
    width: 24px;
    height: 24px;
  }

  .hours p {
    font-size: 14px;
  }

  .busIcon {
    width: 26px;
    height: 24px;
  }

  .busStopIcon {
    width: 19px;
    height: 24px;
  }

  .transportText,
  .busStop {
    font-size: 14px;

    & p {
      font-size: 14px;
    }
  }

  .busStop {
    padding-left: 13px;
    margin-bottom: 0;
  }

  .buses {
    padding-bottom: 24px;
    padding-left: 13px;
  }

  .mapWrapper {
    width: 100%;
    padding: 10px;
  }

  .map {
    height: 300px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
  }
}