.Contacts {
  margin-top: 100px;
  width: 100%;
  background-color: var(--white-100);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
}

.contactsWrapper {
  width: 100%;
  padding: 100px 75px;
}

.map {
  width: 1000px;
  flex-shrink: 0;
}

.arrow {
  margin-right: 10px;
  color: var(--red);
}

.buttonBack {
  display: inline-flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;

  &:hover {
    color: var(--white-800);
  }
}
